.contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 90px;
}

.divFilters{
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 5px 5px rgb(0, 0, 0, 0.8);
  height: 25px;
  
}

.filterButtonGender{
  color: black;
  background-color: rgb(138, 43, 226, 0.6);
  position: absolute;
  right: 25%;
  margin-top: 3px;
  border-radius: 2px;
}

.filterButtonOrder{
  color: black;
  background-color: rgb(138, 43, 226, 0.6);
  position: absolute;
  left: 25%;
  margin-top: 3px;
  border-radius: 2px;
}