.nav{
    background-color: rgba(0, 0, 0, 0.8);
    height: 60px;
    box-shadow: 1px 1px 5px 5px rgb(0, 0, 0, 0.8);
}


.homeDiv{
    margin-top: 0px;
    margin-left: 10px;
    width: 180px;
    height: 60px;
    overflow: visible;
}

.homeLogo{
    width: 250px;
    height: 60px;
    margin: 0px -160px 0px -100px;
}


.divAboutButton{
    width: 55px;
    height: 25px;
    margin-top: -40px;
    margin-left: 300px;
}

.aboutButton{
    background-color: rgb(138, 43, 226);
    height: 25px;
    padding: 0;
    border: none;
    background: none;
}
.aboutButton:hover{
    font-size: 15px;
}


.divLogoutButton{
    width: 65px;
    height: 25px;
    margin-top: -25px;
    margin-left: 450px;
}

.logoutButton{
    background-color: rgb(138, 43, 226);
    color: rgb(138, 43, 226, 0.9);
    height: 25px;
    padding: 0;
    border: none;
    background: none;
}
.logoutButton:hover{
    font-size: 15px;
}


.divFavButton{
    width: 65px;
    height: 25px;
    margin-top: -25px;
    margin-left: 370px;
}

.favButton{
    background-color: rgb(138, 43, 226);
    color: rgb(138, 43, 226, 0.9);
    height: 25px;
    padding: 0;
    border: none;
    background: none;
}
.favButton:hover{
    font-size: 15px;
}


.divRandomButton{
    width: 40px;
    height: 28px;
    margin-top: -23px;
    margin-left: 1050px;
}

.randomButton{
    background-color: rgb(58, 35, 80, 0.7);
    border-radius: 10px 10px 10px 10px;
    color: white;
    font-size: large;
}
.randomButton:hover{
    cursor: pointer;
}
    
    
.divSearchBar{
    margin-left: 80%;
    margin-top: -25px;
}